<a href="https://colab.research.google.com/github/TaboboJohnBenedictDS/OOP-58001/blob/main/Concepts_in_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Class Constructor
class Car:
  pass

In [5]:
#Create a class
class MyNumber:
  x = 5

num1 = MyNumber()
print (num1.x)

5

In [9]:
class Person:
  def __init__  (self,name,age):
    self.name = name
    self.age = age

person = Person("Ana", 36)
print (person.name, person.age)

Ana 36

In [12]:
class Person:
  def __init__  (self,name,age):
    self.name = name
    self.age = age
  def myFunction(self):
    print ("Hello , my name is ", self.name)
person = Person("Ana", 36)
person.myFunction()

Hello , my name is  Ana

In [15]:
#Modify the Object Properties 

person.name = "Marco"
print (person.name)
person.myFunction()

Marco
Hello , my name is  Marco

In [ ]:
#Deletion of Object Properties

del person.age
person.myFunction()
print (person.name)

In [24]:
# Compute for the area of square

class Shapes:
  def __init__(self,side): #initial function to name the attributes
    self.side = side

  def area (self):         #method/formula to computer for the area of a square
    return self.side * self.side

  def display (self):      #method to display the area  
    print ("The area of the square is ",self.area())

  square = Shapes(4)
  square.display()

The area of the square is  16

In [31]:
#Create a Python program with the following:
#Student as class name
#Fullname,Student Number, and School as attribute names
#Construct a method to display the values of attributes
#Use student as object name

class Student:
  def __init__(self, fullname, student_number, school):
    self.fullname = fullname
    self.student_number = student_number
    self.school = school
  
  def display_info(self):
    print(f"Fullname: {self.fullname}\nStudent Number: {self.student_number}\nSchool: {self.school}")

student = Student("John Benedict D.S Tabobo", "202212094", "Adamson University")
student.display_info()

Fullname: John Benedict D.S Tabobo
Student Number: 202212094
School: Adamson University