<a href="https://colab.research.google.com/github/TaboboJohnBenedictDS/OOP-58001/blob/main/Fundamentals_Of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Indention

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [ ]:
#this is a comment
print("Hello World!")

Hello World!

Python Variable

In [ ]:
#Single variable with multiple values
array = [1,2,3]
print (array)

#Multple variables with single value
a= b= c= "Maria"
print (a)
print (b)
print (c)
print (a,b,c)

[1, 2, 3]
Maria
Maria
Maria
Maria Maria Maria

Casting

In [ ]:
n = int(4)
print(n)

4

Type() Function

In [ ]:
c= "sally"
d= 5.6

print (type(c))
print (type(d))

<class 'str'>
<class 'float'>

Input Numerical Method

In [ ]:
n= input(int())
print(n)

010
10

Multiple Variables

In [2]:
x,y,z = "John", "Benedict", "Tabobo"
print (x)
print (y)
print (z)

John
Benedict
Tabobo

Output Variables

In [3]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

In [4]:
x= "Python is " 
y= "enjoying"
z= x + y
print (z)

Python is enjoying

Arithmetic Operations

In [5]:
x = 5
y = 3
print (x+y)

8

In [6]:
x= 5
y= 3
sum= x + y
sum

8

Assignment Operators

In [8]:
a,b,c= 0,-1,6
c%=3
c

0

Comparison Operators

In [9]:
a,b,c= 0,-1,6
a>b and c>b
True

True

Identity Operators

In [10]:
a,b,c= 0,-1,5
a is c
False

False

Bitwise Operators

In [11]:
a = 10
b = -10

print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a >> 1 = 5
b >> 1 = -5