<a href="https://colab.research.google.com/github/TaboboJohnBenedictDS/OOP-58001/blob/main/List%2C_Tuples%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [2]:
def remainder (n,m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

remainder (10,4)

2

In [9]:
class Shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area (self):
    return self.length * self.width
rectangle = Shapes(10,5)
rectangle.area()

50

In [24]:
#create your own function that will show your full name and age
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def name_age (self):
    return self.name + self.age

identity = Person("Benedict Tabobo ",  "18 years old" )
identity.name_age()

'Benedict Tabobo 18 years old'

In [8]:
pow(10,2)
array = ["apple", "banana", "orange"]
array.insert(0,"cherry")
print (array)

['cherry', 'apple', 'banana', 'orange']

List

In [30]:
pi = 3.14159
varList = ['abc', 1,'def',2]
print (varList [0])

varList.append('ghi')
print (varList)

varList.remove(2)
print(varList)

varList.insert(3,3)
print (varList)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [32]:
students = {
    1: "ana",
    2: "billy",
    3: "maria",
    4: "joy",
    3:"bessy"
}
print (students)

{1: 'ana', 2: 'billy', 3: 'bessy', 4: 'joy'}