<a href="https://colab.research.google.com/github/TaboboJohnBenedictDS/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:
  print (x) #It only display Sunday- Thursday
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:

  if x == "Thursday": #It only displays Thursday
      print (x)
      break

Thursday

In [ ]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:

  if x == "Thursday": 
      break
  print (x) #It only displays Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [ ]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:

  if x == "Tuesday": 
    print(x) #Display Tuesday

  if x == "Thursday": 
    print(x) #Display thursday

Tuesday
Thursday

In [ ]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:

  if x == "Tuesday" or x== "Wednesday": 
    print(x) #It displays only Tuesday and Wednesday

Tuesday
Wednesday

Looping thtough a string

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [ ]:
adjective = ["red" , "big" , "tasty"]
fruits = ["apple" , "banana" , "cherry"]

for x in adjective:
  for y in fruits:
      print (x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [ ]:
i = 1
while i <= 6:
  print (i)
  i += 1 # i+=1 Assignment Operators

1
2
3
4
5
6

In [ ]:
i = 1
while i <6:
  print(i)
  if i == 3:
    break
  i += 1 #i+=1 Assignment Operators

1
2
3

In [ ]:
i= 3
while i < 6:
  print (i)
  if i == 3:
    break

3

In [ ]:
i = 1
while i < 6:
  if i ==3:
    print (i)
    break
  i += 1

3

The else Statement

In [ ]:
i = 1
while i < 6:
  print (i)
  i+=1
else:
  print ("i is no longer 6")

1
2
3
4
5
i is no longer 6

Application 1

In [ ]:
i= 0
while i <= 10:
  print ("Hello " + str(i))
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [ ]:
#while loop
i= 3
while i < 10:
  print(i)
  i+=1

3
4
5
6
7
8
9

In [ ]:
#forloop
num= [0,1,2,3,4,5,6,7,8,9]
for x in num:
  if x >= 3 and x < 10: 
   print (x)

3
4
5
6
7
8
9